

html {background-color: white;



}


body{ background-color: #feffff;
    
    margin: 0 auto;
    width: 960px;
    font-family: arial, helvetica, sans-serif;

}

a {
    text-decoration: none;
   
    color: #373535;




  }



figure {
  
}
figcaption {
  font-style: italic;
}
img {
  width: 100%;
  height: auto;
}


/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
   
  background: linear-gradient(to bottom, #0066cc 0%, #ffffff 100%);
    
    
  }




  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  






/* Footer */
.footer {
    padding: 20px;
    text-align:justify ;
    background:#993333 ;
    margin-top: 20px;
    
    
    
    html {
  margin: 2em;
  font-size: 180%;
}

  
html {
  font-family: avenir;
  line-height: 1.5;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  gap: 1rem;
  border: 4px solid rebeccapurple;
  margin: 4em 0;
  padding: 0.25em 1em;
}
.navbar li {
  display: block; 
}
.navbar a {
  text-decoration: none;
  color: black;
}
.navbar a:hover {
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}

    
  }





li { display: inline;
    padding: 10px;
    font-size: 22px;

    
}
    




ul {
    padding: 0;}
    

